body {
  background: black;
  height: 100vh;
}

.App {
  position: relative;
}

.map {
  /*width: 100%;*/
}

.pole {
  width: 70px;
  height: 70px;
}

.brick {
  background: orange;
}

.wall {
  background: white;
}

.sprite {
  position: absolute;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background: red;
}

.sprite.my {
  background: cornflowerblue;
}

strong {
  color: white;
  text-transform: uppercase;
  font-size: 2em;
  font-weight: 600;
}
